/MessageService/nbproject/private/
/MessageService/build/
/1709_FindUsersApplication/nbproject/private/
/1709_FindUsersApplication/build/
/1709_FindUsersApplication/dist/
/UserManagement/nbproject/private/
/FileViewer/nbproject/private/
/1709FileViewer/nbproject/private/
/1709_FileViewer/nbproject/private/
/1709_FileViewer/dist/
/1709_FileViewer/build/
/1709_FindUsersApplication/nbproject/private/
/1709_FindUsersApplication/build/
/1709_FindUsersApplication/dist/
/MessageService/nbproject/private/
/MessageService/build/
/1709_FindUsersApplication/nbproject/private/
/1709_FindUsersApplication/build/
/1709_FindUsersApplication/dist/
/UserManagement/nbproject/private/
/FileViewer/nbproject/private/
/1709FileViewer/nbproject/private/
/1709_FileViewer/nbproject/private/
/1709_FileViewer/dist/
/1709_FileViewer/build/
/MagicTableCells/nbproject/private/
/MagicTableCells/build/
/MagicTableCells/dist/
