/MessageService/nbproject/private/
/MessageService/build/
/1709_FindUsersApplication/nbproject/private/
/1709_FindUsersApplication/build/
/1709_FindUsersApplication/dist/
/UserManagement/nbproject/private/
/FileViewer/nbproject/private/
/1709FileViewer/nbproject/private/
/1709_FileViewer/nbproject/private/
/1709_FileViewer/dist/
/1709_FileViewer/build/
/1709_FindUsersApplication/nbproject/private/
/1709_FindUsersApplication/build/
/1709_FindUsersApplication/dist/
/MessageService/nbproject/private/
/MessageService/build/
/1709_FindUsersApplication/nbproject/private/
/1709_FindUsersApplication/build/
/1709_FindUsersApplication/dist/
/UserManagement/nbproject/private/
/FileViewer/nbproject/private/
/1709FileViewer/nbproject/private/
/1709_FileViewer/nbproject/private/
/1709_FileViewer/dist/
/1709_FileViewer/build/
/MagicTableCells/nbproject/private/
/MagicTableCells/build/
/MagicTableCells/dist/
/1710_OrderedMoves/nbproject/private/
/1710_OrderedMoves/build/
/1710_OrderedMoves/dist/
/1707 ListViewAndDatePicker Appearance/nbproject/private/
/1707 ListViewAndDatePicker Appearance/dist/
/1707 ListViewAndDatePicker Appearance/build/
/1710 ListAndSelection/nbproject/private/
/1710 ListViewSelection/nbproject/private/
/1710 ListViewSelection/build/
/1710 ListViewSelection/dist/
/1710 Files Filtration/nbproject/private/
/1710 Files Filtration/build/
/1710 Files Filtration/dist/